.single-note {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 1rem 1.2rem 1.2rem;
}

.single-note .details {
  max-height: 165px;
  overflow-y: auto;
}
.single-note .details::-webkit-scrollbar {
  width: 0;
}
.single-note .details:hover::-webkit-scrollbar {
  width: 5px;
}
.single-note .details:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.single-note .details:hover::-webkit-scrollbar{
  width: 5px;
}
.single-note .details:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}

.single-note .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.single-note .description {
  font-size: 1rem;
  font-weight: 400;
  color: #575757;
  margin-top: 0.3rem;
}

.single-note .bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4rem;
  padding-top: 0.5rem;
  border-top: 1px solid #ccc;
}

.bottom-content .more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.1rem 0.3rem 0.7rem;
}

.bottom-content i {
  font-size: 1.3rem;
  color: #6d6d6d;
  margin-top: 0.2rem;
  display: inline-block;
  cursor: pointer;
}

.bottom-content .actions {
  position: relative;
}

.actions:hover .setting-menu {
  transform: scale(1);
}
